*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    background: linear-gradient(0deg, rgb(34, 142, 192), rgb(64, 148, 171) 40%, rgb(169, 226, 245));
    font-family: 'Dancing Script';
}

/* header style start */

.container{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: linear-gradient(0deg, blue, green 40%, red);

}

.main{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
}

.intro__title {
    font-weight: 700;
    font-size: 84px;
    line-height: 50px;
    padding-top: 200px;
    padding-left: 60px;
    transform: rotate(-15deg);
    text-shadow: -4px -4px 0px rgb(90, 191, 231);
}

.intro__subtitle {
    font-weight: 700;
    font-size: 84px;
    line-height: 200px;
    padding-left: 30px;
    transform: rotate(-15deg);
    text-shadow: -4px -4px 0px rgb(90, 191, 231);
}

.intro__date{
    font-weight: 700;
    font-size: 54px;
    margin-top: 392px;
    padding-left: 100px;
}

/* header style end */

/* .slider{
    background-image: url(../images/1.png);




} */
