*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    background: linear-gradient(0deg, rgb(72, 70, 78), rgb(73, 172, 161) 40%, rgb(228, 135, 180));
    font-family: 'Dancing Script';
}

/* header style start */

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;    
}

.main{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    margin-bottom: 100px;
}

.date{
    font-weight: 700;
    font-size: 54px;
    text-align: end;
    padding-top: 800px;
    color: rgb(238, 221, 204);
} 

/* header style end */

/* section style start */

/* .name{
    margin-bottom: 100px;
} */

.intro__title {
    font-weight: 700;
    font-size: 84px;
    text-align: center;    
    text-shadow: -4px -4px 0px rgb(238, 221, 204);
}

.intro__subtitle {
    font-weight: 700;
    font-size: 84px;
    line-height: 200px;
    text-align: center;    
    text-shadow: -4px -4px 0px rgb(238, 221, 204); 
}

/* section style end */















.carousel{
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 100%;    
    transform: translateY(-50% -50%);    
}

.item{
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
    margin-left: 120px;
}

.active,
.next {
    display: block
}

.next{
    position: absolute;
    top: 0;
    width: 100%;
}

.description{
    margin: 30px 20%;
    font-size: 32px;
    justify-content: space-between;
}

.control{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
}

.control.left{
    left: 0;
    right: auto;
}

.control.right{
    left: auto;
    right: 0;
}

.arrow{
    display: inline-block;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-size: 84px;
}

.arrow.left {
    left: 50%;
}

.arrow.right{
    right: 50%;
}

.to-left{
    animation-name: left;
}

.to-right{
    animation-name: right;
    animation-direction: reverse;
}

.from-left{
    animation-name: left ;
    animation-direction: reverse;

}

.from-right{
    animation-name: right;
}

@keyframes left{
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}

@keyframes right{
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}







/* @media (max-width: 960px) {
    .description {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 640px) {
    .arrow {
        display: none;
    }
} */





